body{
   background-color: #1ABC9C;
}
h1{
    position:relative;
}

h1::after{
    content: "";
    width: 150px;
    height: 2px;
    background-color: white;
    position:absolute;
    top: 100%;
    left: 0;
}
h1::before{
    content: "";
    width: 150px;
    height: 2px;
    background-color: white;
    position:absolute;
    top: 100%;
    right: 0; 
}
i{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}