body{
    background-color: white;
}
h1{
    position:relative;
    margin-top: 70px;
}

h1::after{
    content: "";
    width: 100px;
    height: 2px;
    background-color: #2c3e50;
    position:absolute;
    top: 100%;
    right: 40%;
}
h1::before{
    content: "";
    width: 100px;
    height: 2px;
    background-color: #2c3e50;
    position:absolute;
    top: 100%;
    left: 40%; 
}
i{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #2c3e50;
    padding-top: 5px;
}
input{
    margin-bottom: 30px;
    width: 500px;
    border-right: transparent;
    border-left: transparent;
    border-top: transparent;
}
button{
    background-color:#1ABC9C ;
    border: none;
}