section{
    background-color: #1ABC9C;
}

h1{
    position:relative;
    color: white;
}

h1::after{
    content: "";
    width: 100px;
    height: 2px;
    background-color: white;
    position:absolute;
    top: 100%;
    right: 40%;
}
h1::before{
    content: "";
    width: 100px;
    height: 2px;
    background-color: white;
    position:absolute;
    top: 100%;
    left: 40%; 
}
i{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    padding-top: 5px;
}